@import "../../variables.scss";
$board-width: 200px;
$board-height: 110px;
$board-margin: 5px;
$main-margin: 40px;
$add-board-bg: #ddd;
$add-board-focus-bg: #ccc;

@mixin board-button {
  box-sizing: border-box;
  width: $board-width;
  height: $board-height;
  margin: 10px !important;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  transition: background 0.1s;
  cursor: pointer;
}

.home-page h1 {
  font-weight: 600;
  font-size: 25px;
  margin-top: 10px;
  margin-right: 30px !important;
  letter-spacing: 1px;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.home-page {
  justify-content: center;
  height: calc(100% - 50px);
  padding-top: 50px;
  width: 100%;
  background: #f4f4f4;
  overflow: hidden;
}

.home-page .main-content {
  display: inline-flex;
  flex-direction: column;
  margin: 10px !important;
}

@media (max-width: 4 * $board-width + 8 * $board-margin + 2 * $main-margin) {
  .main-content {
    width: 3 * $board-width + 6 * $board-margin;
  }
}

@media (max-width: 3 * $board-width + 6 * $board-margin + 2 * $main-margin) {
  .main-content {
    width: 2 * $board-width + 4 * $board-margin;
  }
}

@media (max-width: 2 * $board-width + 4 * $board-margin + 2 * $main-margin) {
  .main-content {
    width: $board-width + 2 * $board-margin;
    margin: $main-margin 0;
  }
}

.main-content h1 {
  margin: 20px 5px;
  font-size: 22px;
}

.boards {
  display: inline-flex;
  flex-wrap: wrap;
  direction: ltr;
  overflow-y: auto;
  flex-direction: row-reverse;
  padding-right: 20px !important;
  padding-left: 20px;
}

.boards::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ddd;
}

.boards::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #aaa;
}


.board-link {
  @include board-button;
  display: inline-flex;
  flex-direction: column;
  color: white;
  overflow-wrap: break-word;
  text-decoration: none;
  direction: rtl;

  &.green {
    background: $green;
  }

  &.blue {
    background: $blue;
  }

  &.red {
    background: $red;
  }

  &.pink {
    background: $pink;
  }
}

.board-link:hover,
.board-link:focus {
  &.green {
    background: $dark-green;
  }

  &.blue {
    background: $dark-blue;
  }

  &.pink {
    background: $dark-pink;
  }

  &.red {
    background: $dark-red;
  }
}

.board-link-title {
  padding-bottom: 5px;
}

.mini-board {
  display: flex;
  height: 100%;
}

.mini-list {
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 100%;
  margin-right: 6px;
  border-radius: 3px;
  background: rgba(148, 147, 147, 0.25);
}

.add-board-button {
  @include board-button;
  border: 0;
  background: rgba(148, 147, 147, 0.418);
  color: #444;
  direction: rtl;
}

.add-board-button:hover,
.add-board-button:focus {
  background: $add-board-focus-bg;
}

.board-adder-form {
  box-sizing: border-box;
  width: $board-width;
  height: $board-height;
  margin: $board-margin;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 3px;
  background: $add-board-bg;
  color: #444;
  font-size: 16px;
  direction: rtl;
}

.board-adder-form .submit-board-button {
  padding: 8px 12px 8px 12px;
  border: none;
  border-radius: 3px;
  background: $success-button-color;
  color: white;
  font-size: 14px;
  display: block;
  margin-top: 32px !important;
  margin-right: 116px !important;
  margin-top: 60px;
  margin-right: 173px;
  font-weight: 600;
  transition: background 0.2s;
  cursor: pointer;
}

.submit-board-button:focus,
.submit-board-button:hover {
  background: $success-button-color-hover;
}

.board-adder-form .submit-board-input {
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  border: 0;
  display: block;
  margin-left: auto;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  overflow: hidden;
  resize: none;
}