@import "../../variables.scss";

.card-adder-textarea-wrapper {
  margin: 0px 8px 10px 8px;
}

.card-adder-textarea {
  float: right; // removes mysterious empty space at the bottom of the textarea somehow
  box-sizing: border-box;
  width: 100%;
  padding: 10px 8px;
  border: 0;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  box-shadow: 1px 1px 1px -1px gray;
}

.card-adder-textarea:focus {
  outline: none;
  border-radius: 3px;
}

#add-icon {
  margin: 0px 0px 0px 7px;
}

.MuiButtonBase-root {
}

.add-card-button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  margin: 0px 8px !important;
  margin-bottom: 7px !important;
  padding-right: 0px !important;
  padding-bottom: 2px !important;
  padding-top: 2px !important;

  .MuiButton-label {
    justify-content: flex-start;
    color: gray;
  }
}

.add-card-button:hover,
.add-card-button:focus {
  .MuiButton-label {
    color: rgb(75, 75, 75);
  }

  // background: #4caf50;
  // box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  //   0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
