@import "../../variables.scss";

.card-adder-textarea-wrapper {
  margin: 6px 13px 0 13px;
}

.card-adder-textarea {
  float: right; // removes mysterious empty space at the bottom of the textarea somehow
  box-sizing: border-box;
  width: 100%;
  padding: 10px 8px;
  border: 0;
  border-radius: 3px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  resize: none;
  overflow: hidden;
}

.add-card-button {
  align-self: center;
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  margin-top: 6px;
  padding-bottom: 3px;
  border: none;
  border-radius: 50%;
  color: $white;
  background: $less-transparent-black;
  font-size: 28px;
  transition: background 0.1s;
  cursor: pointer;
}

.add-card-button:hover,
.add-card-button:focus {
  background: #4CAF50;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
