.watch-button {
    background-color: red;
}

.text-wrapper{
    text-align: center;

}

.v-icon-wrapper{
    padding-right: 0px;
    padding-left: 0px;
}

.div-heading{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}
.div-description{
    color: #586069;
    display: block;
    font-size: 12px;
    max-width: 265px;
}