.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  line-height: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}

.add-user {
  font-size: 35px;
  background-color: rgba(128, 128, 128, 0.335);
}

.name-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.MuiExpansionPanelSummary-root {
  padding: 0 16px 0 24px !important;
}

.MuiPaper-root {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.MuiExpansionPanelDetails-root {
  padding: 8px 16px !important;
}

.MuiTypography-body1 {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 17px !important;
  font-weight: 500 !important; 
}

.MuiListSubheader-root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 17px !important;
  letter-spacing: 0.00938em !important;
}

.user-list-wrapper {
  padding-right: 5px;
  max-height: 15vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #ddd;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #aaa;
  }
}


